<!DOCTYPE html>

{{#with setup}}
    <html>

        <head>

            <base href="{{location.base}}"/>

            <title>T-Challenge Employee Client</title>

            {{#with asset}}
                {{#each styles}}
                    <link  rel="stylesheet" href="{{uri}}?build={{../build.id}}"/>
                {{/each}}
                {{#each scripts}}
                    <script type="javascript" src="{{uri}}?build={{../build.id}}"></script>
                {{/each}}
            {{/with}}
        </head>

        <body>
            Application works: {{location.client}}
        </body>
    </html>
{{/with}}
