<!DOCTYPE html>

{{#with setup}}
    <html>

        <head>

            <base href="{{location.base}}"/>

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>T-Challenge Employee Client</title>

            {{#each asset.styles}}
                <link  rel="stylesheet" href="{{uri}}?build={{../build.id}}"/>
            {{/each}}
        </head>

        <body>

            <url-resolver-configurator url="{{location.client}}" service-kernel-url="{{location.service.complex}}"></url-resolver-configurator>

            <ui-view></ui-view>

            {{#each asset.scripts}}
                <script src="{{uri}}?build={{../build.id}}"></script>
            {{/each}}
        </body>
    </html>
{{/with}}
