<!DOCTYPE html>

{{#with setup}}
    <html>

        <head>
            <base href="{{location.base}}"/>
            <title>Setup</title>
        </head>

        <body>
            <h1>Application Setup</h1>
            <u>Important: this page MUST NOT be accessible in production!</u>

            <h2>General</h2>
            <ul>
                <li><b>Title:</b> {{title}}</li>
                <li><b>Description:</b> {{description}}</li>
                <li><b>Operating mode:</b> {{mode}}</li>
                <li><b>Started at:</b> {{startedAt}}</li>
            </ul>
            <hr>

            <h2>Build</h2>
            {{#with build}}
                <ul>
                    <li><b>ID</b> {{id}}</li>
                    <li><b>Timestamp:</b> {{timestamp}}</li>
                    <li><b>Version:</b> {{version}}</li>
                </ul>
            {{/with}}
            <hr>

            <h2>Locations</h2>
            {{#with location}}
                <ul>
                    <li><b>Base URL:</b> {{base}}</li>
                    <li><b>Client self URL:</b> {{client}}</li>
                    <li>
                        <b>Services</b>
                        <ul>
                            <li><b>Complex:</b> {{service.complex}}</li>
                        </ul>
                    </li>
                </ul>
            {{/with}}
            <hr>

            <h2>Static Resources</h2>
            {{#with asset}}

                <h3>Caching</h3>
                {{#with cache}}
                    <ul>
                        <li><b>Enabled:</b> {{enabled}}</li>
                        <li><b>Expiration:</b> {{expiration}}</li>
                    </ul>
                {{/with}}

                <h3>Styles</h3>
                <table>
                    <tr>
                        <th>URI</th>
                        <th>Vendor</th>
                    </tr>
                    {{#each styles}}
                        <tr>
                            <td>{{uri}}</td>
                            <td>{{vendor}}</td>
                        </tr>
                    {{/each}}
                </table>

                <h3>Scripts</h3>
                <table>
                    <tr>
                        <th>URI</th>
                        <th>Vendor</th>
                    </tr>
                    {{#each scripts}}
                        <tr>
                            <td>{{uri}}</td>
                            <td>{{vendor}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/with}}
        </body>
    </html>
{{/with}}
