<!DOCTYPE html>

{{#with setup}}
    <html>
        <body>
            <h1>Application Setup</h1>
            <i>Important: this page MUST NOT be accessible in production!</i>
            <ul>
                <li>Title: {{title}}</li>
                <li>Description: {{description}}</li>
                <li>Operating mode: {{mode}}</li>
            </ul>
            <hr>

            {{#with build}}
                <h2>Build properties</h2>
                <ul>
                    <li><b>Version:</b> {{version}}</li>
                    <li><b>ID</b> {{id}}</li>
                    <li><b>Timestamp:</b> {{createdAt}}</li>
                </ul>
            {{/with}}
            <hr>

            {{#with location}}
                <h2>Location Layout</h2>
                <ul>
                    <li><b>Base URL:</b> {{base}}</li>
                    <li><b>Client self URL:</b> {{client}}</li>
                    <li>
                        <b>Services</b>
                        <ul>
                            <li><b>Complex:</b> {{service.complex}}</li>
                        </ul>
                    </li>
                </ul>
            {{/with}}
            <hr>

            {{#with asset}}
                <h2>Asset Layout</h2>
                <h4>Styles</h4>
                <table>
                    <tr>
                        <th>URI</th>
                        <th>Vendor</th>
                    </tr>
                    {{#each styles}}
                        <tr>
                            <td>{{uri}}</td>
                            <td>{{vendor}}</td>
                        </tr>
                    {{/each}}
                </table>
                <h4>Scripts</h4>
                <table>
                    <tr>
                        <th>URI</th>
                        <th>Vendor</th>
                    </tr>
                    {{#each scripts}}
                        <tr>
                            <td>{{uri}}</td>
                            <td>{{vendor}}</td>
                        </tr>
                    {{/each}}
                </table>
            {{/with}}
        </body>
    </html>
{{/with}}
